epsg: 27571
age_cutoff: "05-01"
filtering:
    max_kmh: 65
    max_km: 60
territorial_season_months: [5,6,7,8,9,10,11,12]

feat_night_communal:
    radius: 25.

natal_territories:
    cohorts: ['2020','2021','2022','2024']
    clust_dist_threshold: 30
    clust_min_core_points: 9
    clust_min_days: 3
    cooccur_min_days: 3

movement:
    range_daily_min_points: 2
